@charset "UTF-8";
@import "./fonts.css";

:root {
  /* colors */
  --color-50: #fef6ee;
  --color-100: #fcebd8;
  --color-200: #f8d2b0;
  --color-300: #f4b27d;
  --color-400: #ee8949;
  --color-500: #e9631c;
  --color-600: #db511b;
  --color-700: #b63c18;
  --color-800: #91321b;
  --color-900: #752a19;
  --color-950: #3f130b;

  /* layer */
  --lyrics-height: 60px;
  --audio-height: calc(var(--lyrics-height) * 0.6);
  --layer-width: 100px;
  --layer-container-color: var(--color-100);
  --layer-bg-color: var(--color-700);
  --layer-font-color: var(--color-50);

  --mark-time-top-padding: 2px;
  --mark-time-bottom-padding: 8px;
  --mark-time-left-padding: 3px;
  --mark-time-padding: calc(
    var(--mark-time-top-padding) + var(--mark-time-bottom-padding)
  );
  --mark-container-height: 15px;
  --mark-container-color: var(--color-100);
  --mark-time-container-height: calc(
    var(--mark-time-padding) + var(--mark-container-height)
  );
  --timeline-border: 1px solid var(--color-950);

  --timeline-bg-color: var(--color-300);
  --lyrics-bg-color: var(--color-50);
  --lyrics-border-color: var(--color-800);
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquareRound", sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
}

#timeline-wrapper {
  max-width: 100vw;
  overflow-x: auto;
}

#layer-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--layer-width);
  background-color: var(--layer-container-color);
  min-width: 60px;
}

#layer-lyrics {
  position: absolute;
  top: calc(var(--mark-container-height) + var(--mark-time-container-height));
  height: var(--lyrics-height);
}

#layer-audio {
  position: absolute;
  top: calc(
    var(--mark-container-height) + var(--mark-time-container-height) +
      var(--lyrics-height)
  );
  height: var(--audio-height);
}

.layer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 1px;
}

.layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--layer-bg-color);
  color: var(--layer-font-color);
  height: 100%;
  border-radius: 5px;
  font-weight: 700;
}

#timeline {
  display: flex;
  flex-direction: column;
  background-color: var(--timeline-bg-color);
  position: relative;
}

#playbar {
  height: calc(var(--audio-height) + var(--lyrics-height));
  top: calc(var(--mark-container-height) + var(--mark-time-container-height));
  border: var(--timeline-border);
  position: absolute;
}

#playbar-arrow {
  position: relative;
}

#playbar-arrow > img {
  position: absolute;
  width: 36px;
  top: -22px;
  left: -18px;
}

#mark-time-container {
  height: var(--mark-time-container-height);
  width: 100%;
  background-color: var(--mark-container-color);
  position: relative;
}

#mark-container {
  height: var(--mark-container-height);
  width: 100%;
  background-color: var(--mark-container-color);
  position: relative;
}

.mark {
  display: inline-block;
  height: 100%;
  border-left: var(--timeline-border);
  position: absolute;
}

.mark-time {
  display: inline-block;
  font-family: "D2Coding";
  position: absolute;
  border-left: var(--timeline-border);
  padding-top: var(--mark-time-top-padding);
  padding-bottom: var(--mark-time-bottom-padding);
  padding-left: var(--mark-time-left-padding);
  font-size: 0.9rem;
}

#lyrics-container {
  display: flex;
  width: 100%;
  height: var(--lyrics-height);
  border: var(--timeline-border);
  border-left: none;
  position: relative;
}

#audio-container {
  display: flex;
  width: 100%;
  height: var(--audio-height);
  border: var(--timeline-border);
  border-top: none;
  border-left: none;
  position: relative;
}

.lyrics {
  display: inline-block;
  position: absolute;
  height: calc(100% - 2px * 2);
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: var(--lyrics-bg-color);
  border: var(--timeline-border);
  border-color: var(--lyrics-border-color);
  user-select: none;
}

.lyrics-context {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3px 15px;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
}

.lyrics-selected {
  width: 100%;
  height: 100%;
  display: flex;
  border: var(--timeline-border);
  border-color: var(--lyrics-border-color);
  border-radius: 3px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.lyrics-size-change {
  width: 10px;
  height: 100%;
  background-color: var(--lyrics-border-color);
  border-radius: 0px;
  cursor: ew-resize;
}

.timeinfo {
  display: flex;
  flex-direction: row;
}

.timeinfo > input[type="text"] {
  width: 30px;
  font-size: 0.8rem;
}
