{
  "overrides": [
    {
      "files": [
        "*.jsonc",
        "devcontainer.json",
        "jsconfig.json",
        "language-configuration.json",
        ".eslintrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
