* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lyrics-container {
  display: flex;
  /* align-items: stretch; */
  width: 100%;
  height: 50px;
  border: 1px solid black;
  position: relative;
}

.lyrics {
  display: inline-block;
  position: absolute;
  height: 100%;
  border-radius: 5px;
  background-color: green;
  user-select: none;
}

.lyrics-highlight {
  background-color: red;
  z-index: 999;
}
